@import 'tailwindcss';

html {
  overflow-y: scroll; /* siempre muestra el scroll */
}

* {
  font-family: "Source Serif 4", serif;
}
astro-slot strong {
  padding-top: 15px;
  display: block;
}
h1 {
  line-height: 3rem;
  span.font-bold {
    font-size: 0.8em;
  }
}
@media (max-width: 767px) {
  h1 {
    line-height: 2rem;
  }
}